@media ALL and (max-width: 1024px) {
    body {
        display: block;
        width: 1200px;
    }

    header {
        display: block;
    }

    header a img {
        height: 100px;
    object-fit: contain;
    transition: none;
}
    }

/**@media screen and (max-width: 1200px)
{
    div.crossfit, div.boxe, div.basketball, div.finess, div.karate, div.muscu {
        width : 45%;
    }
}

@media screen and (max-width: 700px)
{
    div.crossfit, div.boxe, div.basketball, div.finess, div.karate, div.muscu {
        width : 90%;
    }
}**/
