@media ALL and (max-width: 1024px) {
    body {
        display: block;
        width: 1200px;
        margin: auto;
        WIDTH: fit-content;
    }

    header {
        display: block;
        font-size: 20px;
        margin: auto;
        position: sticky;
    }

    header a img {
        height: 100px;
    object-fit: contain;
    transition: none;
    }

    nav {
        display: flex;
        justify-content: center;
    align-items: center;
        width: 1500px;

    }

    div.premierecolonne {
        font-size: xx-large;
    text-align: center;
    

    }

    div.deuxiemecolonne {
        font-size: xx-large;
        text-align: center;
        
    }


    div.boxe, div.crossfit, div.basketball, div.finess, div.karate, div.muscu, div.running, div.yoga, div.natation, div.canoe, div.foot, div.motto {

    
        height: 610px;

    }

    footer {
    margin-top: 100px;

    }





}

/**@media screen and (max-width: 1200px)
{
    div.crossfit, div.boxe, div.basketball, div.finess, div.karate, div.muscu {
        width : 45%;
    }
}

@media screen and (max-width: 700px)
{
    div.crossfit, div.boxe, div.basketball, div.finess, div.karate, div.muscu {
        width : 90%;
    }
}**/
