body {
    margin-bottom: 0px;
    background: url('../images/images/mur.jpg');
    background-size:auto;
}

div.activitestyle {
    background: url('../images/images/mur.jpg');
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    box-shadow: black 0px 5px 20px 0px;
    border-bottom: red solid 2px;
    
    background-color: white;

}

header a img {
    height: 110px;
    transition: none;
    
    
}

img:hover {
    transition: none;
}

header input {
    display: flex;
    cursor: help;
}


ul img {
    width: 29px;
    height: 29px;
    
}

ul li a {
    color:black;
    text-decoration: none;
}

ul li a:hover {
    color:#515AD0;
    text-decoration: underline;
}

h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    display: flex;
}

h1 input {
    border-radius: 10px 10px 10px 10px;
}

nav {
    display: flex;
    width: 1200px;
}

nav ul {
    display: flex;
    width: 600px;
    justify-content: space-evenly;
}

ul#2 {
    width: 350px;
    padding-left: 170px;
}


nav ul li {
    display: flex;
    font-family: 'Tommy';
}


nav ul li:hover {
    color: #515AD0;
}

@font-face {
    font-family: 'Tommy';
    src: url('../font/MADE\ TOMMY\ Medium_PERSONAL\ USE.otf');
}


/*_________________________________*/

div.rechercher {
    text-align: center;
    font-family: 'Tommy';
    background-color: #515AD0;
    padding: 200px;
    height: 200px;
    font-size: 40px;
    padding-top: 150px;
    padding-bottom: 250px;
    box-shadow: black 0px 0px 40px 0px;
    
    padding-top: 300px;

}

.underline {
    text-decoration: underline;
}

.green {
    color: lightgreen;
}

div.rechercher input{
    border-radius: 20px 20px 20px 20px  ;
    height: 25px;
}


/*_________________________________*/

div.activitestyle {
    text-align: center;
    height: 40px;
    padding-top: 40px;
    font-size: 50px;
    font-family: 'Tommy';
    padding-bottom: 40px;
background-color: white;
text-decoration: underline #FF3028;
}

div.premierecolonne {
    font-family: 'Tommy';
    margin: 0 auto;
    display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
    text-align: center;
    height: 300px;
}

div.premierecolonne img {
    height: 250px;
	transition-property: transform;
	transition-duration: 500ms;
    border-radius: 5px 5px 5px 5px;
    object-fit: cover;
    width : 100%;
    height : 80%;
    object-fit : cover; 
    border-radius : 20px;
}

div.premierecolonne img:hover {
    transform: scale(1.05);
}

div.box {
    display: flex;
}

div.titre {
   
}


div.deuxiemecolonne {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-left: 100px;
}

div.deuxiemecolonne img {
    width: 280px;
}

/*_____________ PADDING ____________*/

div.boxe, div.crossfit, div.basketball {
    padding-right: 20px;
    width: 30%;
    height: 300px;
    margin: 10px;
}

div.finess, div.karate, div.muscu {
    padding-right: 20px;
    width: 30%;
    height: 300px;
    margin: 10px;
}

div.running, div.yoga, div.natation {
    padding-right: 20px;
    width: 30%;
    height: 300px;
    margin: 10px;
}

div.canoe, div.foot, div.motto {
    padding-right: 20px;
    width: 30%;
    height: 300px;
    margin: 10px;
}

div.enduro, div.Exhibition, div.Triathlon {

    padding-right: 20px;
    width: 30%;
    height: 300px;
    margin: 10px;
}

/*_____________________________________________*/

div.afficher {
    text-align: center;
    margin-top: 20px;
    font-family: 'Tommy';
}

div.afficher:hover {
    color: #515AD0;
    text-decoration:underline #515AD0;
}

/*___________________________________________*/

footer {
    display: flex;
    bottom: -20;
    flex-direction: row;
    justify-content: center;
    background-color: #515AD0;
    font-family: 'Tommy';
    border-top: #FF3028;
    height: 100px;
    vertical-align: middle;
}

footer ul li a:hover {
    text-decoration: underline #FF3028;
    color: black;
}


/*______________________________________________*/

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* toute la hauteur */
  ::-webkit-scrollbar-track {
    background: #D2D7DD;
  }
  
  /* maintient */
  ::-webkit-scrollbar-thumb {
    background: #FF3028;
  }
  
  /* curseur du barre */
  ::-webkit-scrollbar-thumb:hover {
    background: #A52520;
  }
